{
  "extends": "rallycoding",
  "rules" : {
    "one-var-declaration-per-line": 0,
    "object-property-newline": 0,
    "no-multiple-empty-lines": 0,
    "eol-last": 0,
    "one-var": 0,
    "arrow-body-style": 0,
    "global-require": 0,
    "no-multi-comp": 0,
    "max-len": [2, {"code": 120, "comments": 140} ],
    "react/sort-comp": [0],
    "react/no-multi-comp": [0],
    "no-case-declarations": 0
    }
}
